<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug = "true"
					 targetFramework = "4.5" />
		<httpRuntime targetFramework = "4.5" />
		<httpHandlers>
			<!-- This handler slows down certain module transmissions for quickstart purposes.  This should not be included with a real application. -->
			<add verb = "*"
				 path = "*.xap"
				 type = "Sol2Reg.Web.XapDownloadHandler, Sol2Reg.Web, Version=1.0.0.0, Culture=neutral" />
		</httpHandlers>
	</system.web>
</configuration>